
<div class="card" >
  <div class="card-body">
    <h4 class="card-title">{{ account.name }}</h4>
   <p>This account is {{ account.status }}</p>
     <button class="btn " (click)="onSetTo('active')" [ngClass]="{'btn-success':account.status=='active'}" >Set to 'active'</button>
    <button class="btn " (click)="onSetTo('inactive')"  [ngClass]="{'btn-danger':account.status=='inactive'}">Set to 'inactive'</button>
    <button class="btn " (click)="onSetTo('unknown')"  [ngClass]="{'btn-warning':account.status=='unknown'}">Set to 'unknown'</button>
  </div>
</div>

