
//Color Picker
.color-picker {

  .header {
    color: $gray;
    font-family: Tele-Fet, sans-serif;
    font-size: 1.4em;
  }

  .rad {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    color: #323232;

    &> input {
      display: none;

      &:checked + span {
        border: 1px solid #bebebe;
      }
    }

    span {
      padding: 1rem;
      font-size: 1.1rem;
      display: block;
      border: 1px solid #fff;

      &[data-color='rose_gold']:before {
        background-color: #deb4ad;
      }

      &[data-color='gold']:before {
        background-color: #d6bda5;
      }

      &[data-color='space_gray']:before {
        background-color: #909097;
      }

      &[data-color='gray']:before {
        background-color: #cdcecf;
      }

      &:before {
        content: '';
        height: 30px;
        width: 30px;
        display: block;
      }
    }

    span.small{
      &:before {
        content: '';
        height: 20px;
        width: 20px;
        display: block;
      }
    }
  }
}
