// Variables
$black: #000;
$white: #fff;
$brandMagenta: #e20074;
$darkMagenta: #ba0060;
$veryDarkMagenta: #a10053;
$grayLighter: #dddddd;
$grayLight: #bebebe;
$gray: #767676;
$grayDark: #5a5a5a;
$grayDarker: #323232;
$green: #09B119;
$red: #ff0000;

$border: #dddddd;
$accordion-border: #d6d6d6;
$input-border: #cfcfcf;

$cartBackground: #f3f3f3;
$cartBoxes: #fafafa;

$disclaimerBackground: #dcdcdc;

$dotted-border: 1px dotted #6a6a6a;

$globalSpacingXXL: 50px;
$globalSpacingXL: 35px;
$globalSpacingLarge: 20px;
$globalSpacingMedium: 15px;
$globalSpacingSmall: 10px;
$globalSpacingXSmall: 5px;

//Breakpoint Vars
$desktopMin: 992px;
$tabLandscapeMax: 1200px;
$tabletMax: 991px;
$mobileMax: 767px;
$mobileMin: 320px;

$device-min-xs: 543px;
$device-max-xs: 544px;
$device-min-sm: 767px;
$device-max-sm: 768px;
$device-min-md: 991px;
$device-max-md: 992px;
$device-min-lg: 1199px;
$device-max-lg: 1200px;

$font-path: '../fonts';
$image-path: '../images';

